body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  .table-top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .group-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.sort-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-icon{
    display: flex;
    align-items: center;
    i{
      cursor: pointer;
      padding: 0 2px;
    }
  }
}

.mrl{
  &-2{
    margin-left: 2px;
  }
  &-4{
    margin-left: 4px;
  }
  &-6{
    margin-left: 6px;
  }
}

.flex{
  &-algin-center{
    display: flex ;
    align-items: center ;
  }
}